@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card-deck">

    @foreach (var post in Model.Posts)
    {
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author <em>@post.Author</em> | <em>@post.Comments.Count</em> comments</h6>
                <p class="card-text">@post.Content.Substring(0, 100)...</p>
                <a asp-page="ShowPost" asp-route-id="@post.ID" class="card-link">Read more...</a>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
        @*<div class="post">

                <a asp-page="ShowPost" asp-route-id="@post.ID"><h1 class="post-title">@post.Title</h1></a>

                <hr>
                <h4 class="post-author">
                    Author:
                    <b>
                        @post.Author
                    </b>
                </h4>
                <p>
                    @post.Content.Substring(0, 100)...
                </p>
                <hr>
                <div>
                    <b>@post.Comments.Count</b> comments
                </div>
            </div>*@
    }

</div>