@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card-deck">

    @foreach (var post in Model.Posts)
    {
    <div class="card">
        <div class="card-header">
            @post.Author 's post
        </div>
        <div class="card-body">
            <h2 class="card-title">@post.Title</h2>
            <h6 class="card-subtitle mb-2 text-muted">@post.Comments.Count comments</h6>
            <p class="card-text">@post.Content.Substring(0, post.Content.Length > 100 ? 100 : post.Content.Length)...</p>
            <a asp-page="ShowPost" asp-route-id="@post.ID" class="btn btn-primary">Read more</a>
            <a asp-page-handler="DeletePost" asp-route-id="@post.ID" class="btn btn-light">Delete</a>
        </div>
    </div>
    }

</div>